/* First screen */
#title_label {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#next_button {
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease-in-out, transform 0.2s ease-in-out;
}

#next_button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Second screen */
#second_screen {
    background-color: #121212;
}

#text_entry {
    font-size: 16px;
    padding: 8px;
    border-radius: 5px;
    background-color: #222;
    color: white;
    border: 1px solid #007BFF;
}
